body {
	background: #aaccaa;
	text-align: center;
}

h1 {
	color: #FF0000;
}

button {
	outline: none;
	border: 5px solid #FF0000;
	border-radius: 15px;
	
	margin: 5px; /*внешний отступ*/
	padding: 10px; /*внутренний отступ*/
	
	background: #4789C9;
	color: #FFFFFF;
	
	height: 50px;
	width: 300px;
	
	font-size: 20px;
}

/*стиль при наведении: меняет цвет, тип курсора и увеличивается*/
button:hover {
	cursor: pointer; /*курсор палец*/
	background: #1E90FF;
	
	height: 60px;
	width: 330px;
}
